numpy==1.22.1
scipy==1.8.0
pandas==1.4.2
matplotlib==3.5.1
tqdm==4.64.0
statsmodels==0.13.2
jupyter==1.0.0
nbconvert==6.5.0
notebook==6.4.11
seaborn==0.11.2
nltk==3.7
pytest==7.1.2
scikit-learn==1.1.1
gensim==4.2.0
blingfire==0.1.8
wikiextractor==3.0.6
opencv-contrib-python==4.6.0.66
autopep8==1.7.0
